/*bootstrap*/
.popover {
    max-width: none;
}
legend {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

legend.small {
    font-size: 14px;
}

label,
input,
button,
select,
textarea {
    font-size: 12px;
    line-height: 18px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input{
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    padding: 5px;
}


textarea {
    height: auto;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
    font-size: 12px;
}

.input-append .add-on,
.input-prepend .add-on {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
}

.input-append input, .input-append select, .input-append .uneditable-input{
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

input.search-query {
    padding-right: 12px;
}

.btn {
    font-size: 12px;
    padding: 5px 8px;
}

.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] {
    font-size: 13px;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}

/*btn-group 嵌套 btn-group时*/

.btn-group > .btn-group.last > .btn {
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    border-left-width: 0px;
}

.btn-group > .btn-group.last:first-child > .btn {
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-left-width: 1px;
}


.btn-group > .btn-group.first > .btn:first-child {
    border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topright: 0px;
    border-right-width: 0px;
}

.btn-group > .btn-group.first:last-child > .btn:first-child {
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
    border-right-width: 1px;
}


.input-mini {
    width: 20px;
}

.input-small {
    width: 65px;
}

.input-medium {
    width: 140px;
}

.input-large {
    width: 180px;
}

.input-xlarge {
    width: 220px;
}

.input-xxlarge {
    width: 430px;
}

.popover-title {
    font-size: 12px;
}


.dropdown-menu .btn {
    text-align: left;
    background: none;
    border: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-shadow: none;
}


.inline-radio label{
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 5px!important;
}


.pagination {
    margin: 10px 0;
}
.pagination ul, .pagination div {
    float: left;
}

.ui-progressbar .ui-progressbar-value{background: #ddd;}
.progress-label {
    float: left;
    margin-left: 50%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.modal{
    width: 400px;
    font-size: 14px;
    left: 60%;
}
.modal input {
    margin-bottom: 5px;
}
.modal.fade.in {
    top: 15%;
}

.modal,.modal-backdrop {
    z-index:999999998!important;
}
.modal-gallery {
    z-index:999999999!important;
}


.dropdown-menu.left {
    left: -95%;
    min-width: 80px;
}

.ui-dialog-titlebar {
    padding: 5px;
}
.ui-dialog-titlebar > .ui-dialog-title{
    margin-top: 0px;
    padding: 5px 0 0 0px;
}
.ui-dialog-titlebar > .ui-button {
    top: 70%;
}

.ui-dialog-titlebar.no-title {
    border: 0px;
}
.ui-dialog-titlebar.no-title .ui-dialog-title {
    height: 0px;
}
.ui-dialog-titlebar.no-title > .ui-button {
    top: 100%;
    z-index: 1;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 13px;
}
.icon6[class^="icon-"], .icon6[class*=" icon-"] {
    font-size:280px;
}
.icon5[class^="icon-"], .icon5[class*=" icon-"] {
    font-size:140px;
}

.icon4[class^="icon-"], .icon4[class*=" icon-"] {
    font-size:123px;
}

.icon3[class^="icon-"], .icon3[class*=" icon-"] {
    font-size:61px;
}

.icon2[class^="icon-"], .icon2[class*=" icon-"] {
    font-size:30px;
}

.icon1[class^="icon-"], .icon1[class*=" icon-"] {
    font-size:13px;
}


/*bootstrap*/


html, body {
    font-size: 12px;
    width:		100%;
    height:		100%;
    padding:	0;
    margin:		0;
    /*overflow:	auto; *//* when page gets too small */
}

.index {
    /*overflow: hidden;*/
}

.bg {
    background:#eee;
}

.ui-layout-resizer {
    background: #eee;
}
.ui-layout-toggler{
    border: 0px;
}
.ui-layout-pane{
    border: 1px solid #eee;
}

.index-panel {
    margin:0 auto;
    width:	1020px;
    height:99.7%;
    border: 1px solid #eee;
    background: #fff;

}

.panel {
    padding: 5px 5px 0 5px;
}

#index-panel .ui-layout-pane{
    border: 0px!important;
}

.index-header {
    background:#1999d7;
    background: url(../images/bg-header.png) no-repeat;
}


#userinfo {
    font-size: 12px;
    font-weight: bold;
    position:absolute;
    top:0;right:0;
    margin: 5px 15px 0 0;
    z-index: 999;

    /*background-clip: padding-box;*/
    /*background-color: #ffffff;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 6px 6px 6px 6px;*/
    /*-webkit-box-shadow: 0 3px 7px #ddd;*/
    /*-moz-box-shadow: 0 3px 7px #ddd;*/
    /*box-shadow: 0 3px 7px #ddd;*/
    /*outline: medium none;*/

    /*border: 1px solid #f5f5f5;*/
}

#userinfo a {
    color: #0099ff;
}
#userinfo .dropdown-menu a:hover {
    color: #fff;
}

#userinfo .dropdown-menu {
    min-width: 80px;
    cursor: pointer;
}
#userinfo .btn-message.unread {
    color:#b94a48;
}
#userinfo .btn-message > .icon-count{
    font-size: 10px;
}

#user-navbar .btn * {
    text-shadow: none;
}

#user-navbar  > ul > li {
    margin: 0;
    padding: 0;
}

#user-navbar  > ul > li > a {
    padding: 3px 10px;
}

.notification-list {
    top: 26px;
    left: -17px;
    display: hidden;
    width: 320px;
    z-index: 0;
}

.notification-list a {
    cursor: pointer;
}
.notification-list.in {
    display: block;
}
.notification-list .popover-title, .notification-list .popover-title a {
    color:#b94a48!important;
    font-weight: bold;
}
.notification-list .popover-title .pre, .notification-list .popover-title .next {
    font-weight: normal;
}
.notification-list .popover-title a.none {
    color: #999!important;
    text-decoration: none;
    cursor: auto;
}
.notification-list .arrow {
    overflow: visible;
}

.notification-list .content {
    overflow: hidden;
    position: relative;
    display: block;
}

.notification-list .loading .popover-content,.notification-list .no-comment .popover-content {
    text-align: center;
    font-weight: normal;
    color: #999999;
    padding: 20px;
}

.notification-list .popover-content {
    padding: 0px;
}

.notification-list .menu .popover-content > li {
    cursor: pointer;
}

.notification-list .popover-content > li,.notification-list .popover-content .notification-detail {
    border-bottom: 1px solid #f3f3f3;
    line-height: 40px;
    padding: 0 20px 0 10px;
    color: #999;
    font-weight: normal;
}


.notification-list .popover-content > li:hover {
    background: #f8f8f8;
}

.notification-list .popover-content > li.unread {
    color:#b94a48!important;
    font-weight: bold;
}

.notification-list .popover-content .notification-detail {
    padding: 0px;
}
.notification-list .popover-content .notification-detail .title {
    color: #555;
    background: #f8f8f8;
    padding: 0 20px 0 10px;
    cursor: auto;
}
.notification-list .popover-content .notification-detail .content {
    padding: 10px 20px 10px 10px;
    line-height: 20px;
}

.ui-layout-west {
    z-index: 2!important;
}

.ui-layout-pane {
    padding: 1px 1px 1px 1px;
}

.index-panel > .ui-layout-resizer-north{
    background: #0088cc;
}


iframe[tabs="true"] {
    border: 0px!important;
    /*margin:41px 0 0 0!important;*/
    /*position: relative!important;*/
}

.ui-dialog {
    font-size: 12px;
}


#menu .submenu {
    padding:0px;
    background: #f5f5f5;
    padding-bottom: 10px;
}
#menu ul{
    list-style: none;
    font-size: 12px;
    font-weight: normal;
    margin:0px;
}
#menu li {
    padding-left: 15px;
    margin: 8px 0 8px 0;
    line-height: 22px;
}

#menu .li-wrapper {
    margin-left: -15px;
    padding-left: 15px;
}
#menu .li-wrapper:hover {
    background: #ddd;
}
#menu .li-wrapper.active, #menu .li-wrapper.active:hover{
    background: #0088cc;
    color: white;
}

#menu li {
    color: #777;
    cursor: pointer;
}

#menu li a {
    color: #0088cc;
    font-weight: bold;
    text-decoration: none;
}

#menu .active a{
    color: white!important;
}

#menu .menu-icon{
    padding-right: 5px;
    color: #f89406;
}

#menu .ui-accordion-header{
    /*height: 35px;*/
    line-height: 20px;

}
#menu .ui-accordion-header a {
    color:#0088cc;
}
#menu h3 {
    padding-left: 15px;
}

#menu .menu-header-icon{
    float: left;
    margin-top: 3px;
    margin-left: 8px;
    margin-right: 8px;
    color: #f89406;
    position: relative;
    left: 0;
    top: 0;
}


.tabs-bar{
      background: none;
}

.tabs-bar.tabs-fix-top {
    position: relative;
    float: left;
    top:  62px;
    width: 100%;
    left: 217px;
    right: 0px;
    height: 40px;
    z-index: 1;
}

.tabs-bar ul {
    width: 100000px;
}


.tabs-bar .ul-wrapper {
    width: 801px;
    overflow: hidden;
    float: left;
}

.tabs-bar.ui-tabs .ui-tabs-nav {
    margin-bottom: 0px;
    border: none;
}

.tabs-bar.ui-tabs .ui-tabs-nav li a {
    color: #0088cc;
    border: 0px;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
}

.tabs-bar.ui-tabs .ui-tabs-nav li{
    font-size: 12px;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #6a6a6a;
    border: 1px solid #a1acb8;
    border-bottom: 0px;
}

.tabs-bar.ui-tabs .ui-tabs-nav li:hover {

    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

}

.tabs-bar.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
}


.tabs-bar.ui-tabs .ui-tabs-nav li.ui-tabs-active,.tabs-bar.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover{
    font-weight: bold;
    background: #0088cc;
    background: -ms-linear-gradient(top,#0069D6,#0088cc);
    background: -o-linear-gradient(top,#0069D6,#0088cc);
    background: -moz-linear-gradient(top,#0069D6,#0088cc);
    background: -webkit-linear-gradient(top,#0069D6,#0088cc);
    background: linear-gradient(top,#0069D6,#0088cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069D6', endColorstr='#0088cc', GradientType=0);
    border-color: #0069D6;
    color: #fff;
    border: 1px solid #135aa4;
    padding-right: 3px;
}



.tabs-bar.ui-tabs .ui-tabs-nav li .menu, .tabs-bar.ui-tabs .ui-tabs-nav li .menu:hover {
    font-size: 12px;
    cursor: pointer;
    color: #fff;
}

.tabs-bar .icon-chevron-left, .tabs-bar .icon-chevron-right {
    position: absolute;
    top: 0px;
    z-index: 999;
    height: 38px;
    line-height: 39px;

    padding: 0px 2px;
    cursor: pointer;

    border: 1px solid #ddd;
    float: left;

    color: #0069D6;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

}
.tabs-bar .icon-chevron-left {
    left: 0px;
}
.tabs-bar .icon-chevron-right {
    right: 0px;
}


.pagination ul > li > a, .pagination ul > li > span {
    padding: 4px 10px;
}
.page-input{
    margin-left: 30px;
}
.page-input input {
    width: 30px;
    text-align: center;
}
.page-btn{
    margin-bottom: 10px;
}
.page-info{
    float: none!important;
    border: 0px!important;
}


.table {
    margin-bottom: 0;
}

.table .check{
    text-align: center;
}

.table > tbody > tr.active, .table > tbody > tr.active > td{
    background: #eee;

}
.table > tbody > tr.active * {
    text-shadow: none;
}


.popover {
    color: #333;
}

.sort-table .sort-th {
    cursor: pointer;
}

.sort-table .sort-title {
    float: left;
}
.sort-table .sort {
    float: right;
}


.sort-table .sort .sort-hover {
    color: #f89406!important;
}

.control-group {
    margin-bottom: 0px;
}
.control-group .input-append{
    display:block;
}


.ui-layout-toggler .content {
    font: 12px bold Verdana, Verdana, Arial, Helvetica, sans-serif;
}

/*.ui-layout-toggler:hover .content {*/
    /* mouse-over */
    /*color: #0069D6;*/
/*}*/

.table .btn-edit {
    padding: 0px!important;
}

.confirm .title {
    color: #bd362f;
}

.moveable{
    float: right;

}
.moveable .ui-icon {
    float: left;
}
.moveable .none{
    width: 16px;
    height: 16px;
    float: left;
}
.moveable .btn-link {
    font-size: 12px!important;
}
.sortable-placeholder {
    height: 3em;
    line-height: 3em;
}

.ajax-upload-view .progress {
    width: 300px;
    height: 30px;
    float: left;
}
.ajax-upload-view .alert {
    width: 300px;
}

.tree.ui-layout-center ,
.tree.ui-layout-west {
    overflow:	hidden;
}
.tree iframe {
    padding:	0 !important; /* iframes should not have padding */
    overflow:	auto !important;
}

.treeContent  {
    margin-top: 2px;
    border: 1px solid #617775;
    background: #f0f6e4;
    width: 240px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: auto;
}

.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
    *vertical-align: middle;
}
.ztree li a input.rename{
    height:16px!important;
}
.ztree li a.curSelectedNode_Edit {
    height: 19px!important;
}





.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.no-margin{
    margin-bottom: 0px!important;
    border: 0px;
}
.margin-1{
    padding: 0px 1px;
}
.no-padding{
    padding: 0px;
}


.child-data > td,.child-data > td:hover {
    background: #E9F3FF!important;
}

/*默认会偏移*/
.ui-spinner-input{
    margin: 0px;
}
/*默认会隐藏掉error提示*/
.ui-spinner{
    overflow: visible;
}

.tool.ui-toolbar {
    width: auto;
    margin: 0 auto 1px 0;
    padding: 3px;
}
.search-form {
    float: right;
    margin-bottom: 0px;
    margin-right: 10px;
}
.search-form .accordion-inner {
    padding: 9px 0;
    border-top: 0px;
}



.file-input label {
    padding: 4px 12px;
    margin-bottom: 0px;
}
.file-input a {
    padding: 0px;
}
/*file upload*/
.file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 20000;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    width: 0px;
    margin: 0px;
    height: 0px;
    line-height: 0px;
}
.file-input .name {
    margin-left: 8px;
}


.login {
    width: 400px;
    margin: 120px auto;

    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 3px 7px #ddd;
    -moz-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    outline: medium none;
}
.login .title {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 8px;
    background: #1999d7;
    background-clip: padding-box;
    border-radius: 6px 6px 0 0;
    line-height: 30px;
}
.login .form {
    padding: 30px 0 10px 30px;
    color: #777;
}
.login .remember {
    width: 180px;
    float: left;
}
.login .btn-login {
    padding: 5px 20px;
}

.jcaptcha-img {
    cursor: pointer;
}

/*.panel .nav-tabs {*/
    /*margin-bottom: 10px;*/
/*}*/

/* Footer
-------------------------------------------------- */
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}

.tree-search {
    margin-bottom: 0px;
}
.tree-search label {
    float: left;
    line-height: 28px;
    margin-right: 5px;
    margin-left: 10px;
}

.font-12 {
    font-size: 12px;
    font-weight: normal;
}
.font-14 {
    font-size: 14px;
    font-weight: normal;
}

.form-small .control-label {
    width: 60px;
}

.form-small .controls{
    margin-left: 70px;
}

.form-medium .control-label {
    width: 90px;
    margin-right: 10px;
}

.form-medium .controls{
    margin-left: 90px;
}


.hr{
    /*color:#555555;*/
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
}

.left-group{
    width: 100%;float: left;padding: 20px 0;
}

.sys-icon-list{
    width: 320px;
    height: 315px;
    position: absolute;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #a1acb8;
    padding: 3px 0 3px 0;
}

.bold {
    font-weight: bold;
}
.no-underline {
    text-decoration: none;
}
.no-underline:hover {
    text-decoration: none;
}

.message {
    margin: 0 20px;
}
.message .accordion-inner {
    border-top : 0px;
}
.message .accordion-heading > .accordion-toggle {
    color: #333;
}

/**系统管理 css start*/
.sys-icon-list .nav {
    margin: 0 0 5px 3px;
}

.sys-icon-list .tab-pane {
    width: 300px;
    height: 250px;
    padding: 10px;
    overflow: hidden;
}
.sys-icon-list .tab-pane i {
    margin: 5px;
}
.auth {
    float: left;
    margin: 10px;
}

.auth .left, .auth .right {
    float: left;
    width: 220px;
    height: 170px;
}
.auth .left .list,.auth .right .list {
    float: left;
    width: 220px;
    height: 150px;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #a1acb8;
}

.auth .btns {
    float: left;
    margin: 60px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    border: 0;
}

.auth .btns .btn {
    display: block;
}
.auth .btns .btn > [class^="icon-"] {
    font-size: 18px;
}
.auth ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    min-height: 100px;
}
.auth  li {
    margin: 5px;
    padding: 5px;
    cursor: move;
}

.auth .ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
/**系统管理 css end*/

/*去除IE 虚线框*/
a,input,textarea{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */
a,input,textarea{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */
a:focus { -moz-outline-style: none; } /* IE不支持 */
*:focus { outline: none; }
